@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* html{
        @apply bg-slate-200 text-lg font-bold;
    } */
    body{
        background: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0.00) 100%);
    }
    input, select{
        @apply outline-none border border-slate-400 rounded-sm hover:border-blue-400 
        px-1 placeholder:text-slate-300 placeholder:italic text-slate-500;
    }
    input[type="text"]{
        @apply mb-1;
    }
    input[type="checkbox"]{
        @apply accent-green-500 p-1;
    }
    select{
        @apply pr-6
    }
    .select{
        @apply inline-block border border-slate-300 pr-6 pl-1 cursor-pointer hover:bg-slate-100 transition;
    }
    option{
        @apply hover:bg-slate-200;
    }
    .page1, .navBar{
        background: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0.00) 100%);
      
    }
    .DLpage{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #f5dba9 100%);
    }
    .offers{
        @apply border border-black transition px-2 rounded-xl text-center
        hover:opacity-80 cursor-pointer hover:bg-red-500 hover:text-white
        hover:border-none;
    }
}